.bg-image {
    background-image: url('../images/main.jpg');
    background-size: cover;
    /* Cover the entire element */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevent repeating */
    height: 100vh;
    /* Set a specific height */
    width: 100%;
}

.card-img-top {
    height: auto;
    width: 100%;
    object-fit: cover;
}